{% extends 'base.html' %}

{% block content %}

    <h1>{% block title %} Headline {% endblock %}</h1>
    <table style="width:100%">
      <tr>
        <th style="width:10%">Date Posted</th>
        <th style="width:5%">Sentiment</th>
        <th style="width:5%">Stock</th>
        <th style="width:70%">News Headline</th>
        <th style="width:10%">Date Created</th>
      </tr>
      {% for headline in headlines %}
      <tr style="height:50px">
        <td style="text-align: center">{{headline.date_posted}}</td>
        <td style="text-align: center">{{headline.sentiment}}</td>
        <td style="text-align: center">{{headline.ticker}}</td>
        <td style="text-align: center">{{headline.news_headline}}</td>
        <td style="text-align: center">{{headline.date_created}}</td>
      </tr>
      {% endfor %}
    </table>

{% endblock %}
